{% extends "base.html" %}

{% block title %} Change Avatar {% endblock title %}

{% block content %}

    <!-- component -->
    <div class="max-w-lg min-h-screen">
        <div class="flex flex-col bg-white shadow-md px-4 sm:px-4 md:px-6 lg:px-8 py-8 rounded-md w-full max-w-md">
            <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">Change Avatar</div>
            <div class="relative mt-10 h-px bg-gray-300">
                <div class="absolute left-0 top-0 flex justify-center w-full -mt-2">
                    <span class="bg-white px-4 text-xs text-gray-500 uppercase">Upload Your Avatar Image</span>
                </div>
            </div>
            <div class="mt-10 w-full">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex flex-col mb-6 p-4 border-solid border-2 border-gray-200">
                      {{ form.image }}
                    </div>
                    <div class="flex w-full">
                        <button type="submit" class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                            <span class="mr-2 uppercase">Save changes</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
                                    <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M9.999 13.587 7.7 11.292l-1.412 1.416 3.713 3.705 6.706-6.706-1.414-1.414z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

