{% extends "base.html" %}

{% block title %} Password Reset {% endblock title %}

{% block content %}

    <!-- component -->
    <div class="max-w-lg bg-white px-10 py-8 rounded-xl shadow shadow-slate-300">
        <div class="font-medium text-center self-center text-xl sm:text-2xl uppercase text-gray-800">Reset Password</div>
        <div class="relative mt-10 h-px bg-gray-300">
            <div class="absolute left-0 top-0 flex justify-center w-full -mt-2">
                <span class="bg-white px-4 text-xs text-gray-500 uppercase">Forgotten your password?</span>
            </div>
        </div>
        <div class="mt-10 w-full">
            <form method="post" action="{% url "account_reset_password" %}" autocomplete="off">
                {% csrf_token %}
                    <div class="flex flex-col mb-6">
                        <label for="id_email" class="mb-1 text-xs sm:text-sm tracking-wide font-bold text-gray-600">Email:</label>
                        <input id="id_email" type="email" name="email" placeholder="Email address" class="text-sm sm:text-base placeholder-gray-500 px-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400" autocomplete="email" required />
                    </div>
                    <div class="flex w-full">
                        <button type="submit" class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                            <span class="mr-2 uppercase">Reset Password</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M7 17a5.007 5.007 0 0 0 4.898-4H14v2h2v-2h2v3h2v-3h1v-2h-9.102A5.007 5.007 0 0 0 7 7c-2.757 0-5 2.243-5 5s2.243 5 5 5zm0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div class="flex justify-center items-center mt-6">
                        <a href="{% url "account_signup" %}" class="inline-flex items-center font-bold text-blue-500 hover:text-blue-700 text-xs text-center px-8">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(37, 99, 235, 1);transform: ;msFilter:;">
                                    <path d="M19 8h-2v3h-3v2h3v3h2v-3h3v-2h-3zM4 8a3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4 3.91 3.91 0 0 0-4 4zm6 0a1.91 1.91 0 0 1-2 2 1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2zM4 18a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3v1h2v-1a5 5 0 0 0-5-5H7a5 5 0 0 0-5 5v1h2z"></path>
                                </svg>   
                            </span>
                            <span class="ml-2">You don't have an account?</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}