# Ignore the SQLite database file
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and secret keys
.env

# Ignore virtual environment folders
venv/
env/

# Ignore static and media files (optional)
static/
media/

# Ignore node modules (if using frontend JavaScript)
node_modules/

# Ignore VS Code settings (optional)
.vscode/

# Ignore Pipenv lock file
Pipfile.lock
